vendor/
node_modules/
npm-debug.log
bootstrap/compiled.php
app/storage/
composer.lock
public/storage
public/hot
public/js
public/css
public/images
public/mix-manifest.json
storage/*.key
.gitignore
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json
.rocketeer/
.idea